n8n/workflows/daily_intelligence.json
{
  "name": "Revenue Intelligence Agent - Daily Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "48f83ebb-bd9f-4050-9b91-867478fd3d06",
      "name": "Daily 08:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "month"
            },
            {
              "name": "rebuild_processed",
              "value": false
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "5c45e670-3720-4e73-99bf-5b4beb5f7cdb",
      "name": "Run Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "critical-check",
              "leftValue": "={{ $json.max_severity }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65541658-b166-4c92-b2eb-7ddb4e02063c",
      "name": "Severity Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hooks.slack.com/services/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",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🔴 *CRITICAL* | {{ $('Run Pipeline').item.json.one_liner }}\n\n{{ $('Run Pipeline').item.json.slack_summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "916e1260-1266-4a0e-a30c-38e67f115a6b",
      "name": "Slack - CRITICAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🟡 *WARNING* | {{ $('Run Pipeline').item.json.one_liner }}\n\n{{ $('Run Pipeline').item.json.slack_summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83bbc846-a49f-4bf3-92e5-d9e0681fed37",
      "name": "Slack - WARNING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *Pipeline Failed!*\nRun ID: {{ $json.runId }}\nError: {{ $json.error?.message || 'Unknown error' }}\nCheck logs/ directory for details."
            }
          ]
        },
        "options": {}
      },
      "id": "4c125eda-d608-4cc1-9ea0-ef0f37f7bc89",
      "name": "Error Handler - Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 08:00 Trigger": {
      "main": [
        [
          {
            "node": "Run Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Pipeline": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Router": {
      "main": [
        [
          {
            "node": "Slack - CRITICAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - WARNING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - CRITICAL": {
      "main": [
        []
      ]
    },
    "Slack - WARNING": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1ab703fb-7955-44e0-bbaf-5b8a97825615",
  "meta": {
    "instanceId": "f1b59fa55484a079a2f5f751b37691dd8d6f1619ad439fc58e18b07ed01ab769"
  },
  "id": "DOShUpNCNNtx1OaL",
  "tags": []
}