n8n/workflows/daily_intelligence.json
{
  "name": "Revenue Intelligence Agent - Daily Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 08:00 Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "month"
            },
            {
              "name": "rebuild_processed",
              "value": false
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "run-pipeline",
      "name": "Run Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "critical-check",
              "leftValue": "={{ $json.max_severity }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "severity-router",
      "name": "Severity Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🔴 *CRITICAL* | {{ $('Run Pipeline').item.json.one_liner }}\n\n{{ $('Run Pipeline').item.json.slack_summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-critical",
      "name": "Slack - CRITICAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🟡 *WARNING* | {{ $('Run Pipeline').item.json.one_liner }}\n\n{{ $('Run Pipeline').item.json.slack_summary }}"
            }
          ]
        },
        "options": {}
      },
      "id": "slack-warning",
      "name": "Slack - WARNING",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=logs/n8n_run_{{ $now.format('yyyyMMdd_HHmmss') }}.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "log-run",
      "name": "Log Run",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *Pipeline Failed!*\nRun ID: {{ $json.runId }}\nError: {{ $json.error?.message || 'Unknown error' }}\nCheck logs/ directory for details."
            }
          ]
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler - Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520]
    }
  ],
  "connections": {
    "Daily 08:00 Trigger": {
      "main": [
        [
          {
            "node": "Run Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Pipeline": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Router": {
      "main": [
        [
          {
            "node": "Slack - CRITICAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - WARNING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - CRITICAL": {
      "main": [
        [
          {
            "node": "Log Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - WARNING": {
      "main": [
        [
          {
            "node": "Log Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}